%footer.branding
  .row
    .span6
      Copyright &copy; 
      :javascript
        var dToday=new Date(); document.write("2006-"+dToday.getFullYear());
      The Rico Family
    .span6
      .pull-right
/        %em I can do all things through Christ who strengthens me ~ Ph 4:13
%footer
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %script{:src => '/bootstrap/bootstrap.min.js', :async => false, :type => 'text/javascript'}

  :javascript
    /* Load tooltips */
    $(document).ready(function(){
      $('[title]').tooltip({placement:'bottom'});
      });


