- unless pages.empty?
  %ul.thumbnails
    - pages.each do |page|
      %li.page-link(id="#{page.path.gsub(/\//,"_")}")
        %article.thumbnail.clearfix
          %header
            %h1
              = page.link_text
          ~ page.body(self)
/          = haml :page_meta, :layout => false, :locals => { :page => page }
