body {
    background: url(../attachments/img/tanner-caricature-005-a20-x1280.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-attachment: fixed;

    &.no-background {
        background: none;
    }

    padding-top: 40px;
    font-family: 'Cabin Condensed', sans-serif;

    font-size: 18px;

    p {
        //font-family: 'Cabin Condensed', sans-serif;
        font-size: 18px;
        line-height: 1.25em;
    }
}

h1 {
    font-size: 300%;
}
h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}
h4, h5, h6 {
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.75em;
}

p {
    // Add spacing between paragraphs, including the first
    margin-top: 1em;
}




.header {
    padding-top: 36px;
}

.thumbnails .span1 img {
    width: 100%;
}

.hero-unit {
    h1, h2 {
        color: #FFF700;
        text-shadow: 2px 2px rgba(0,0,0,.3);
    }

    .slogan {
        color: #dedede;
        text-shadow: 2px 2px rgba(0,0,0,.3)
    }

    h2 {
        position: absolute;
        bottom:1em;
        right: 1em;
    }

}

.tanner-back {
    background: url(../attachments/img/tanner-suit.jpg);
    background-size: cover;
    background-position: 50% 0%;
    min-height: 280px;
}

.tanner-tired {
    background: url(../attachments/img/tanner-tired.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: 50% 65%;
    height: 480px;
}

.tanner-sitting-full {
    background: url(../attachments/img/tanner-sitting-smile-990x1280.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: 50% 0%;
    height: 640px;
}

.tanner-sitting {
    background: url(../attachments/img/tanner-sitting-smile-crop-x640.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: 50% 0%;
    height: 640px;
}

#wlmrlink {
    background: url(../attachments/img/lemon-cut-30.png);
    background-color:transparent;
    background-size: auto 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 60px;
    margin-top:5px;
    padding:0px;
}

.navbar-fixed-top {
    box-shadow:0 10px 10px rgba(2,0,0,0.3);
}
.navbar .social {
    margin-top:5px;
}

.page-link {
    padding-top: 40px;
}

section {
    margin-top: 1.75em;
    &.summaries, &.articles {
        article header {
            h1 {
                font-size: 125%;
            }
        }
    }
}

aside {
    position: fixed;
    overflow-y: auto;
    height: 80%;  // leave 20% for the header, should work in most cases
}


/*	--------------------------------------------------
   	Video
   	Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
    LIFTED FROM ZURB: https://github.com/zurb/foundation/blob/master/stylesheets/ui.css
	-------------------------------------------------- */

.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tooltip {
    font-size: 100%;
}

.curl::before, .curl::after {
    border-radius: 6px;  /* to be consistent with hero unit */
}


#content {
    background: rgba( 255,255,255,0.5 );
    box-shadow: rgba( 0, 0, 0, 0.5 ) 0px 10px 20px;
    min-height: 640px;
}

footer {
    margin-top: 2.5em;
}

.span1, .span2, .span3, span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    &>section, &>p, &>header, &>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>ul {
        padding-left: 20px;
        padding-right: 20px;
    }
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;

    &.valid {
        color: green;
    }

    &[generated=true] {
        display:inline;
    }
}

label[generated=true] {
}