#content
  .row.page-link
    .span8
      %section.article
        ~ @page.to_html(self)
  
      %section.articles.summaries
  
        = haml :full_summaries, :layout => false, :locals => { :pages => @page.articles }
  
    .span4
      %aside.span4
        - if @page.articles
          %h2 Index
        - page_list_by_date( @page.articles )

